@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*were as accessing our ViewModel folder and secondly we are allowing the model to pass in Register info hence the m => m.Email coming from the viewModel*@


<div class="container">

    @using SpeakerFreak.ViewModels
    @model RegisterViewModel

    <h2>Register new user</h2>
    <hr />
   
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.TextBoxFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.PasswordFor(m => m.Password)
        <br />
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.PasswordFor(m => m.ConfirmPassword)
        <br />

        <input type="submit" value="Register" class="btn- btn-success btn-sm" />
    }
</div>
