@model SpeakerFreak.Models.Review

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="editor-field">
        @Html.TextBoxFor(model => model.VenueID, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.VenueID)
    </div>*@





<div class="container space-lg">
    <h2>Add Review</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <div class="col-sm-4 col-lg-4 col-md-4">

            @Html.LabelFor(model => model.Name)<br />
            @Html.TextBoxFor(model => model.Name, new { @class = "form-group" })
            <br /><br />
            @Html.LabelFor(model => model.Date)<br />
            @Html.TextBoxFor(model => model.Date, new { @class = "form-group" })
            <br /><br />
            @Html.LabelFor(model => model.Commments)
            @Html.TextBoxFor(model => model.Commments, new { @class = "form-control", style = "height: 80px;" })
            
            <br /><br />


            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    }
    </div>

