@model IEnumerable<SpeakerFreak.Models.Review>

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <h2>Reviews</h2>

    <h3>@Html.ActionLink("Add Review","Create", "Review")</h3>
    <br />

    @foreach (var listReview in Model)
    {
     
            
                @Html.DisplayFor(modelReview => listReview.Name)
                <br />
                @Html.DisplayFor(modelReview => listReview.Date)
                <br /> <br />
                <br />
                @Html.DisplayFor(modelReview => listReview.Commments)
                <br />
                @Html.ActionLink("Edit", "Edit", new { id = listReview.ReviewId }) 
                @Html.ActionLink("Details", "Details", new { id = listReview.ReviewId }) 
                @Html.ActionLink("Delete", "Delete", new { id = listReview.ReviewId });

             

    }

    </div>