@model IEnumerable<SpeakerFreak.Models.Review>

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">

    <h2>@Html.ActionLink("Add Review","Create", "Review")</h2>
    <hr />
    <br />

    @foreach (var listReview in Model)
    {
     
            
                <h4>@Html.DisplayFor(modelReview => listReview.Name)</h4>
                <br />
                <h4>@Html.DisplayFor(modelReview => listReview.Date)</h4>
                <br />
                <h4>@Html.DisplayFor(modelReview => listReview.Commments)</h4>
                <br />
                <h4>@Html.ActionLink("Details", "Details", new { id = listReview.ReviewId })</h4>
                <h4>@Html.ActionLink("Delete", "Delete", new { id = listReview.ReviewId })</h4>;

             

    }

    </div>