
@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model SpeakerFreak.Models.Music

<div class="container">
    <h2>Add Artist</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <h4>Create an artist</h4>


    @using (Html.BeginForm())
        {
        @Html.LabelFor(model => model.Artist)
        @Html.TextBoxFor(model => model.Artist)
        <br />
        @Html.LabelFor(model => model.Album)
        @Html.TextBoxFor(model => model.Album)
        <br />
        @Html.LabelFor(model => model.Image_url)
        @Html.TextBoxFor(model => model.Image_url)
        <br />
        @Html.LabelFor(model => model.Genre)
        @Html.TextBoxFor(model => model.Genre)
        <br />
        @Html.LabelFor(model => model.Year)
        @Html.TextBoxFor(model => model.Year)
        <br />
        @Html.LabelFor(model => model.Rating)
        @Html.TextBoxFor(model => model.Rating)
        <br />



        <input type="submit" value="CreateMusic" class="btn btn-success" />

      }
  }

    @Html.ActionLink("Back to Artists","Index","Music")

</div>